textarea,
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="number"] {
  @apply border p-2 mt-1;

  .validate-required & {
    @apply border-red;
  }
}

/** Search form */
.search-form {
  @apply flex items-center;
}

.search-form label {
  @apply flex;

  font-weight: normal;
}

.search-form .search-field {
  @apply block h-10 appearance-none w-full py-1 px-2 text-base leading-normal bg-transparent text-black border-b border-black;
}

.search-form .search-submit {
  @apply block h-10 w-10 inline-block align-middle text-center select-none no-underline text-transparent bg-center bg-no-repeat bg-transparent m-0 -m-1;

  background-image: url("../images/search-black-24dp.svg");
  border-radius: 999px;

  &:hover,
  &:focus {
    @apply cursor-pointer bg-grey-light;
  }
}
