#topbar {
  transition: 0.2s ease-in-out;
}

.logged-in {
  #topbar {
    top: 32px !important;
  }
}

.page-header {
  @apply w-full mx-auto my-0 pt-16;

  @screen md {
    @apply pt-20;
  }

  @screen lg {
    @apply pt-24;
  }

  @screen xl {
    @apply pt-32;
  }

  &--large {
    @apply pb-8;

    @screen lg {
      @apply pb-16;
    }
  }

  &.has-background {
    @apply bg-no-repeat bg-center bg-cover;

    @screen md {
      min-height: 350px;
    }

    @screen lg {
      min-height: 400px;
    }
  }

  &__content {
    @apply flex flex-col mx-2 px-10;

    max-width: 50rem;
  }
}
