#topbar {
  transition: 0.2s ease-in-out;
}

.page-header {
  @apply breakout flex bg-cover bg-center;

  &.has-background {
    height: 400px;

    @screen md {
      height: 600px;
    }
  }

  &__content {
    @apply flex flex-col mx-2;

    margin-top: 10rem;
    max-width: 50rem;
  }
}
