.has-black-background-color {
  background-color: #000;
}

.has-black-color {
  background-color: #000;
}

.has-light-grey-background-color {
  background-color: #f0f0f0;
}

.has-light-grey-color {
  color: #f0f0f0;
}

.has-white-background-color {
  background-color: #fff;
}

.has-white-color {
  color: #fff;
}
