html {
  @apply font-sans;
}

h1 {
  @apply text-3xl leading-tight mb-6;

  @screen lg {
    @apply text-4xl;
  }

  @screen xl {
    @apply text-5xl;
  }
}

h2 {
  @apply mt-10 mb-6 text-2xl leading-tight;

  @screen md {
    @apply text-3xl;
  }

  @screen lg {
    @apply text-4xl;
  }
}

h3 {
  @apply text-xl;

  @screen md {
    @apply text-2xl;
  }
}

h4 {
  @apply text-lg;

  @screen md {
    @apply text-xl;
  }
}

h3,
h4,
h5,
h6 {
  @apply mt-6 mb-4 leading-tight;
}

p {
  @apply mb-3 leading-normal text-base;

  @screen md {
    @apply text-lg;
  }
}

a {
  @apply text-primary no-underline border-0;

  color: $color-link;
  transition: 0.2s ease;

  &:hover {
    @apply border-0;

    color: $color-link-hover;
  }
}

figcaption {
  @apply text-sm;
}

ul {
  @apply mb-3;
}

li {
  @apply mb-3;
}
