.container {
  @apply w-full mx-auto my-0 px-4;

  @screen lg {
    max-width: 992px;
  }

  @screen xl {
    max-width: 1200px;
  }
}

.breakout {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.left-0 {
  left: 0;
}

.bottom-0 {
  bottom: 0;
}

.border-bottom {
  border-bottom: $border;
}
